body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

main {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.right {
    text-align: right;
}

input[type="checkbox"] {
    margin: 10px;
}

button {
    all: unset;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 6px;
    background-color: dodgerblue;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.1s linear;
}

button:hover {
    cursor: pointer;
    background-color: #3ebbff;
}

input[type="submit"] {
    all: unset;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 6px;
    background-color: dodgerblue;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.1s linear;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3ebbff;
}
